*{
    padding:0px;
    margin:0px;
}
body{
    background-color:rgb(5, 5, 37);
    /* color:white; */
}
a{
    text-decoration: none;
    padding-left:40px;
    color:rgb(255, 251, 251);
 }
 a:hover{
   color:rgb(162, 159, 124);
   text-decoration: none;
 }
 .navbar-brand{
   font-weight: 700;
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
   color:white;
   margin-left: 12px;;
 }
 .container-fluid{
    background-color: rgb(8, 0, 0);
    color:rgb(51, 73, 93);
    padding: 1px;
    /* position:fixed; */
 }
 .container{
    display:flex;
    padding-top: 10px;
    height:700px;
 }
 .left{
   flex:1;
   font-size: 70px;
   font-family: 'Times New Roman', Times, serif;
   color:bisque;
   margin:90px 0;
   align-items: center;
 }
 .right{
    flex:1;
    margin:70px 0;
    margin-left: 180px;
    padding-top: 50px;;
}
 .image{
    /* border-radius: 50%; */
    height:400px;
    width:400px;
    align-items: center;
 }
 .image:hover{
   transform: scale(0.5);
 }
 .purple{
    color:lightcoral;
 }
 p{
    font-size:25px;
    color:paleturquoise;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
 }
.hr1{
    border-color:white;
    width:210px;
}
 .SecondSection{
    max-width: 80vw;
    margin:auto;
    /* height:80vh; */
 }
 .SecondSection h1{
    font-size:2.6rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
 footer{
   height:500px;
   padding-top:200px;
   color:white;
   /* padding-left: 40px; */
}
h3{
   font-family: 'Times New Roman', Times, serif;
   padding-top:8px;
   color:white;
   font-size: 2.3rem;
}
.hr3{
   width:200px;
}
.thirdSection{
   max-width: 80vw;
   margin:auto;
   height:80vh;
}
.thirdSection h1{
   font-size:2.6rem;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   padding-top: 50px;
}
.thirdSection .box{
   background:white;
   width:80vw;
   height:1px;
   margin:56px 20px;
   display:flex;
}
.thirdSection .vertical{
   height:90px;
   width:1px;
   background-color:rgb(169, 153, 153);
   margin:0 100px;
   /* padding-right: 120px;; */
}
.img-top{
  width:23px;
  position:relative;
  top:-32px;
  left:-9px;
}
.vertical-title{
  color:white;
  font-size: 12px;
  position: relative;
  top: 75px;
  width:150px;
}
.vertical-desc{
  color:white;
  font-size: 10px;
  position:relative;
  top:86px;
  width:150px;
}
.footer{
   display: flex;
   padding:23px 122px;
   justify-content: space-evenly;
   background-color: black;
   color:white;
   height:200px;
}  
.flex{
   display: flex;
   justify-content: space-evenly;
   padding-right: 270px;
}
.footer ul{
   list-style-type: none;
}
.footer-rights{
   text-align: center;
   color:rgb(212, 207, 207);
   padding: 13px 0;
   padding-left:180px;
}
.hr3{
   border-color:white;
   width:290px;
}
#element{
   color:lightcoral;
}
.fourthSection  h1{
   color:white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 2.6rem;;
}
.fourthSection {
max-width: 80vw;
margin:auto;
height:80vh;
}

.fifthSection  h1{
   color:white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 2.6rem;;
}
.fifthSection {
max-width: 80vw;
margin:auto;
height:20vh;
}
.container{
   text-align: center; 
   background-size: cover;
   min-height: 40vh;
   position: relative;
   color:rgb(255, 255, 255);
   text-shadow: 2px 2px 2px rgb(0,0,0,);
   text-align: center;
} 
a{
  font-weight: 700;
}
.foot{
   text-align: left;
}
.col2{
   padding-left: 250px;;
}
.C{
   display:flex;
}




